body {
    background-color: #F6F7F8 !important;
    font-family: 'Inter', sans-serif !important;
    overflow-x: hidden;
}
.fs-20 {
    font-size: 20px;
}
.headline {
    margin-right: 20px;
    margin-top: 144px;
    margin-left: 280px;
    margin-bottom: 52px;
}
h1 {
    font-size: 61px !important;
    font-weight: 700 !important;
}
.add-button {
    height: 40px;
    width: 40px;
    background: #2A3647;
    border-radius: 11px;
    cursor: pointer;
    display: none;
}
.add-button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.add-button:active {
    background: #091931;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.taskboard {
    margin-right: 20px;
    margin-left: 280px;
    gap: 20px;
}
.board-direction {
    flex-direction: column;
}
.button-responsive {
    display: flex;
}
.plus-button {
    border: 2px solid #2A3647;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.plus-button:hover {
    border-color: #29ABE2;
}
.plus-button:hover svg path {
    stroke: #29ABE2;
}
.board_column {
    flex-direction: column;
}
.width-column {
    width: 226px;
}
.column-title {
   color: #42526E;
   margin-bottom: 16px;
}
.no-task-container {
    background: #e7e7e7;
    height: 48px;
    border: 2px dashed #A8A8A8;
}
.no-task-color {
    color: #A8A8A8;
}
.testcard {
    min-height: 196px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px #00000014;
    cursor: pointer;
    justify-content: center;
    gap: 15px;
}
.card-priority {
    padding: 4px 16px;
}
.technical-task {
    background: #1FD7C1;
}
.user-story {
    background: #0038FF;
}
.detail-color {
    color: #2A3647;
}
.description-color {
    color: #A8A8A8;
}
.subtask-container {
  font-size: 12px;
}
.title {
    max-width: 264px;
}
.detailed-task {
    z-index: 101;
    width: 525px;
    top: 10vh;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px 0px #00000029;
    background-color: white;
    padding: 48px 30px;
    transform: translateX(4000px);
    transition: all ease-in 200ms;
}

.detailed-priority {
    padding: 4px 24px;
    font-size: 23px;
}
.clear-button {
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.clear-button:hover {
    background: #D9D9D9;
}
.clear-img {
    width: 14px;
    height: 14px;
    margin-left: 1px;
}
.fs-61 {
    font-size: 54px;
}
.fs-20 {
    font-size: 20px;
}
.mb-12 {
    margin-left: 12px;
}
.subtask-boxes {
    padding: 6px 16px;
}
.subtask-boxes:hover {
    background: #EEEEEE;
}
.edit-boxes:hover {
    font-weight: bold;
    color: #29ABE2;
    cursor: pointer;
}
.edit-boxes:hover svg path{
    fill: #29ABE2;
}
.separator {
    border: 1px solid #D1D1D1;;
    height: 24px;
}
.scroll-container {
    height: 100%;
    display: flex;
}

/* -----------von Martin---------- */

.taskUp {
    rotate: 90deg;
    z-index: 5;
}

.taskDown {
    rotate: 270deg;
    z-index: 5;
}

.taskUp:hover, .taskDown:hover{
    scale: 1.3;
}

.upDownBox {
    margin-left: 2px;
    display: none;
}

/* dark bg for detailed Task */

.dimmed-bg {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.search-container {
    width: 312px;
    padding: 8px 16px;
    border: 1px solid #A8A8A8;
}
.search-container:focus-within {
    border-color: #29ABE2; 
}
.search-input {
    outline: none;
    border: 0;
}
.search-input::placeholder {
    color: #D1D1D1;
    font-size: 20px;
}
.search-separator {
    border: 1px solid #D1D1D1;
    height: 31px;
}
.search-box {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    cursor: pointer;
}
.search-box:hover {
    background-color: #D9D9D9;
}
.add-box {
    height: 32px;
    width: 32px;
}
.add-box img {
    height: 18px;
    width: 18px;
}
.add {
    height: 18px;
    width: 18px;
}
.addTask-button {
    display: flex;
    font-size: 21px;
    padding: 8px 16px;
    background: #2A3647;
    cursor: pointer;
}
.addTask-button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.addTask-button:active {
    background: #091931;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.progress {
    width: 110px;
    height: 8px !important;
}
.add-new-contact-position {
    top: 55px;
  }
.no-scroll {
    overflow: hidden;
}
.ok-button {
    background-color: #2A3647;
    padding: 12px 16px;
    gap: 4px;
    font-size: 21px;
    cursor: pointer;
    border: 0;
}
.ok-button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.ok-button:active {
    background: #091931;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.editor-content {
    overflow-y: scroll;
    max-height: 600px;
    padding: 10px;
}
.editor-content::-webkit-scrollbar {
    display: none;
}
.select-editor {
    padding: 12px 16px;
    border: 1px solid #D1D1D1;
    cursor: pointer;
}
.select-editor img {
    padding: 4px 2px;
}
.assign-content-editor {
    display: none;
    height: 240px;
    margin-top: 2px;
}
.assign-content-editor.active {
    display: block;
}
.contacts-box-editor {
    max-height: 175px; 
    overflow-y: auto; 
}

.emptyTask {
    width: 226px; 
    height: 214px; 
    border: 2px dotted #9b9b9b;
}

.rotateTask {
    transform: rotate(5deg);
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: aqua;
    border-radius: 100%;
    color: white;
    font-size: 16px;
    border: 2px solid white;
    margin-right: 12px;
    cursor: pointer;
}
.contact-selection-box {
    height: 50px;
    flex: 1;
}
.checked {
    background: #2A3647;
    color: white;
}
.checked:hover {
    background: #091931 !important;
}
.checked-editor {
    background: #2A3647;
    color: white;
}
.checked-editor:hover {
    background: #091931 !important;
}
.label-contact {
    cursor: pointer;
    flex: 1;
}
.label-contact-editor {
    cursor: pointer;
    flex: 1;
}
.initials-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: aqua;
    border-radius: 100%;
    color: white;
    font-size: 16px;
    border: 2px solid white;
    cursor: pointer;
    margin-left: -13px;
}
.border-color {
    border-color: #29ABE2;
}
.hidden-button {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 32px; 
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #29ABE2;
}
  
::-webkit-scrollbar-track {
    background-color: white;
    width: 16px;
}
