<div class="menu">
    <img src="../img/Join logo white.svg" alt="Join-Logo" class="menu-join">
    <div class="navbar-menu">
        <a id="menu-summary" href="summary.html" class="menu-sections nav-headlines">
            <img src="../img/summary.svg" alt="summary-icon" class="menu-icons">
            <span>Summary</span>
        </a>
        <a id="menu-addTask" href="addTask.html" class="menu-sections nav-headlines">
            <img src="../img/addTask.svg" alt="addTask-icon" class="menu-icons">
            <span>Add Task</span>
        </a>
        <a id="menu-board" href="board.html" class="menu-sections nav-headlines">
            <img src="../img/board.svg" alt="board-icon" class="menu-icons">
            <span>Board</span>
        </a>
        <a id="menu-contacts" href="contacts.html" class="menu-sections nav-headlines">
            <img src="../img/contacts.svg" alt="contacts-icon" class="menu-icons">
            <span>Contacts</span>
        </a>
    </div>
    <div class="frame21">
        <a id="menu-privatPolicy" href="../html/privatPolicy.html" class="pp-container">
            <span class="privacy-police">Privacy Policy</span>
        </a>
        <a id="menu-legalNotice" href="../html/legalNotice.html" class="ln-container">
            <span class="legal-notice">Legal notice</span>
        </a>
    </div>
</div>
